<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kumar.dipanshu.viewpagertransformation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/karanatakaseal"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/karanatakaseal"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".explain" />
        <activity
            android:name=".TransformationActivity"
            android:theme="@style/TransformationTheme" />
        <activity
            android:name=".CircularViewPager"
            android:theme="@style/TransformationTheme" />
        <activity android:name=".explain2" />
        <activity android:name=".HomeActivity"></activity>
    </application>

</manifest>